{% extends 'base.html' %}

{% block content %}
	<center><h3>appuyez sur le boutton "se connecter" en rouge pour acceder a l'application</h3></center>
	<br />
	<center><h3>ou,</h3></center>
	<br />
	<center><h3>appuyez sur le boutton "s'enregister" en bleu" pour creer un compte,
	puis contacter l'administrateur pour validation.</h3></center>
	<br />
	<center><h3>ou,</h3></center>
	<br />
	<center><h3>si vous disposer d'un compte mais que vous avez oublier votre mot de passe, appuyer sur "reinitialiser mot de passe" en gris, puis entrez votre boite mail.</h3></center>
	
	
{% endblock %}