{% extends 'base.html' %}
{% load auth_extras %}


{% block title %}Agregats {{ canva.site }} {{ canva.mois }} {{ canva.année }}{% endblock %}


{% block titre %}<div class="btn btn-primary w-100 mb-3">{{ canva.site }} {{ canva.mois }} {{ canva.année }}{% endblock titre %}</div>



{% block content %}

<table id="example" class="display nowrap" width="843" border="1">
  <tbody>
    <tr bgcolor="#17ABB0" style="color: #000000">
      <th width="450" height="27" scope="col">AGREGAT</th>
      <th width="119" scope="col">SCF</th>
      <th width="126" scope="col">MOIS2020</th>
      <th width="120" scope="col">MOIS2021</th>
    </tr>
  </tbody>
</table>



<form   action="" method="post" enctype="multipart/form-data">
	
  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field.error }}
  {{ hidden_field }}
  {% endfor %}
  
  {% csrf_token %}
  
  {{ form.management_form }}
  {{ form.non_form_errors }}
  
  
  
  {% for bilan_form in form.forms %}
  
  
  
  <h5>
			{% if bilan_form.instance.id %}
			
			{% else %}
				{% if form.forms|length > 29 %}
					
				{% else %}
					
				{% endif %}	
			{% endif %}

  </h5>
			{% for hidden_field in bilan_form.hidden_fields %}
				{{ hidden_field.errors }}
			{% endfor %}
			
			{% for checkbox in canva.checkbox_canva.all %}
		  {% if checkbox.validation.is_null %}
		  {{ bilan_form }}
		  {% endif %}
			{% if checkbox.validation != True %}
			{{ bilan_form }}
			{% else %}
			<fieldset disabled="disabled">
				{{ bilan_form }}
			</fieldset>
			
			
		
			{% endif %}
			
		{% endfor %}
			{% endfor %}
		<hr>		
		<p>
			{% for checkbox in canva.checkbox_canva.all %}
			{% if checkbox.validation != False  %}
			
			<center><a href="{{ canva.get_absolute_url }}" role="button" class="btn btn-secondary w-50">Annuler</a></center>
			
			{% else %}
			<center><button type="submit" value="mettre a jour" class="btn btn-primary w-50 mb-3">mettre a jour</button></center>
			<center><a href="{{ canva.get_absolute_url }}" role="button" class="btn btn-secondary w-50">Annuler</a></center>
			{% endif %}
			{% endfor %}
		</p>
			
</form>
	


{% endblock content %}